@charset 'utf-8'
@import 'normalize.css'
html
	font-family: 'Roboto Slab', sans-serif
.content
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	min-height: 100vh
p
	margin-top: 0
	margin-bottom: 1em
.title
	border-bottom: 1px solid black
	padding-bottom: 2em
	font-size: 1.2em
.links
	display: flex
	align-items: center
.link
	display: block
	width: 3em
	margin: 1em
	transform: scale(1)
	transition: opacity 0.5s, transform 0.3s
	will-change: opacity, transform
	&:hover
		opacity: 0.8
		transform: scale(1.1)

